<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/travel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<br><br>
 <div class="border rounded border-2 container g-0" id="contentdiv">
     <div class="row g-0">
         <div class="col-md-4">
             <h3 class="title"> 여행자제(<span style="color: #FCC33C">2단계</span>) </h3>
             <ul class="" id="reserve"></ul>
         </div>
         <div class="col-md-4">
             <h3 class="title"> 출국권고(<span style="color: #C82613">3단계</span>) </h3>
             <ul id="suasion"></ul>
         </div>
         <div class="col-md-4">
             <h3 class="title"> 여행금지(<span style="color: #9980DC">4단계</span>)</h3>
             <ul id="prohibition"></ul>
         </div>
     </div>
 </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/travel_alert/travel.js"></script>

</body>
</html>
